<ul>
    {% for title, link in MENUITEMS %}
      {% if title == 'Categorías' %}
        <li class="dropdown nav-categorias" role="presentation">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span>{{ title }}</span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% for cat, articles in categories %}
              <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="nav-{{ title | lower | replace(' ', '-') }} {% if current_url == link %}active{% endif %}" role="presentation">
          <a href="{{ link }}"><span>{{ title }}</span></a>
        </li>
      {% endif %}
    {% endfor %}
  
    {% if SHOW_PAGES_ON_MENU | default(True) %}
      {% for p in pages %}
        <li{% if p == page %} class="nav-{{p.slug}} active"{% endif %} role="presentation">
          <a href="{{ SITEURL }}/{{ p.url }}"><span>{{ p.title }}</span></a>
        </li>
      {% endfor %}
    {% endif %}
  
    {% if SHOW_CATEGORIES_ON_MENU | default(False) %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="nav-{{cat.slug}} active"{% endif %} role="presentation">
          <a href="{{ SITEURL }}/{{ cat.url }}"><span>{{ cat }}</span></a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
  